# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Pasta com os arquivos executaveis do c++
/src/output*
/src/atividade_pratica_01/atividade_pratica_01_welvis/output*
/src/atividade_pratica_02/atividade_pratica_02_welvis/output*
/src/atividade_pratica_03/atividade_pratica_03_welvis/output*
/src/atividade_pratica_04/atividade_pratica_04_welvis/output*
/src/atividade_pratica_05/atividade_pratica_05_welvis/output*
/src/atividade_pratica_06/atividade_pratica_06_welvis/output*
/src/atividade_pratica_07/atividade_pratica_07_welvis/output*
/src/atividade_pratica_08/atividade_pratica_08_welvis/output*
/src/atividade_pratica_10/atividade_pratica_10_welvis/output*
/src/atividade_pratica_11/atividade_pratica_11_welvis/output*
/src/atividade_pratica_13/atividade_pratica_13_welvis/output*
/src/atividade_pratica_14/atividade_pratica_14_welvis/output*
